{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="ui container">
  <div id="preference-box" class="ui segment container grid">
    <div class="two wide column">
    </div>
    <div class="nine wide column">
      <br>
      <h4 class="ui header">
        Hi there! We are just guys who love to eat and to sample numerous cuisines. But we usually get headaches of thinking of
        what to eat today. So we decided to build an expert to help us with this. He then will find the food depends on your
        preferences, your tastes today. What are you waiting for? Let's find something to eat :)
      </h4>
      <h5>NUS CS4244-Team 9</h5>
    </div>
    <div class="four wide column">
      <img src="/static/images/cat2.gif" style="width:100%">
    </div>
  </div>

</div>
{% endblock %}
